.vscode/
.pycache/
c_cpp_properties.json
settings.jsontasks.json
doc
docs
LICENSE
README.md
security.md
manual.md
copying.md
LICENSE.md
build.md
credits
Dickerfile
CONTRIBUTING.md
CODE_OF_CONDUCT.md
copying.txt
.gitignore
.github/